/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

/* Icon Imports */
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

html {
    font-family: 'Open Sans';
    background-color: rgb(174, 226, 250);
}

main {
    border: 3px black solid;
    border-radius: 10px;
    background-color: rgb(236, 236, 236);
    margin: 0 20%;
    padding: 10px 40px 20px 40px;
}

main figure {
    text-align: center;
}

h1 {
    font-family: Schoolbell;
    font-size: 36px;
}

figure img {
    width: 100%;
    min-width: 150px;
    max-width: 500px;
    border-radius: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 20%;
    padding: 0 20px;
}

nav a {
    text-decoration: none;
    font-size: 30px;
    color: black;
}

header {
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
}

footer p {
    font-size: 20px;
}
footer a {
    text-decoration: none;
    font-weight: bold;
    color: black
}

footer img {
    height: 20px;
    padding: 0 5px;
}